@import "tailwindcss";

:root {
  --background: 250 250 250; 
  --foreground: 17 24 39;    
  --muted: 229 231 235;      
}

.dark {
  --background: 15 23 42;   
  --foreground: 229 231 235;
  --muted: 31 41 55;    
}

html,
body {
  height: 100%;
}